#### 1. In the below elements which of them are values or an expression? eg:- values can be  integer or string and expressions will be mathematical operators.

1. "*" - Expression - Multiplication operator

2. "Hello" - Value - string Datatype

3. -87.8 - Value - Float Datatype

4. "-" - Expression - Subtraction operator

5. "/" - Expression - Division operator

6. "+" - Expression - Addition operator

7. "6" - Value - Integer Datatype

#### 2. What is the difference between string and variable?

String : It is datatype and It is a sequence of unicode charcters. We can use single,double & triple quotes to represent the string and combination of charcters like letters,numbers and special characters.
Ex : s = "Surender"

Variable : It is location in memory which is used to store some data. They are given unique names to differentiate between different memory location and has certain rules such as
1. It is combination of lowercase or uppercase or digits(0-9) or underscore.
2. It cannot start with a digit.
3. It can't be use as identifier.
4. We can't use special symbols like %,@,$,%

Ex : a = 10

#### 3. Describe three different data types.

Every value in python is a Datatype.Since everything in python is object in python programming. Datatype are actually 
classes and variables are instances of classes.
1. Numbers : 
   1.Integers
   2.Float
   3.Complex numbers
2. Boolean
3. Strings
4. List
5. Tuple
6. Set
7. Dictionary

#### 4. What is an expression made up of? What do all expressions do?

Baically expressions are combinations of opearators and operands that produce some other value. The value that operator
operates on is called operand.
1. Arithmetic operator: They carry out arithmetic operation.
    1. Addition(x+y)
    2. Subtraction(x-y)
    3. Multiplication(x*y)
    4. Division(x/y)
    5. Exponent(x**y)
    6. Integer Division(x//y)
2. Comparison Operator :It is used to compare values.
    For Ex : >,<,==,>=,<=
3. Logical Operators : Logical operators are and, are & not operators.
4. Assignment Operators : It is used to assign values to variables
    For Ex : a -= 10, a += 10
5. Bitwise Operators : It act on operands as if they are string of binary digits.  
6. Identity Operators : is and is not are the identity operators.
7. Membership Operators : in and not in are the membership operators.

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression : Baically expressions are combinations of opearators and operands that produce some other value.
For Ex : a += 10, a + b

Statement : Statements are the instructions or commands that a python interpretator can execute are called statements.
For Ex : 
1. a = 1     #Single Line Statement
2. a = 10; b = 20; c = 20  #MultiLine Statement

#### 6. After running the following code, what does the variable bacon contain?
#### bacon = 22
#### bacon + 1

In [7]:
bacon = 22 #Bacon value would be 23. After increment by 1.

In [8]:
bacon + 1

23

#### 7. What should the values of the following two terms be?

In [9]:
"spam" + "spamspam" #Both outputs would same i.e "spamspamspam". Since both datatype i.e string

'spamspamspam'

In [10]:
"spam" * 3

'spamspamspam'

#### 8. Why is eggs a valid variable name while 100 is invalid?

Because Variables have certain rules i.e
1. It is combination of lowercase or uppercase or digits(0-9) or underscore.
2. It cannot start with a digit.
3. It can't be use as identifier.
4. We can't use special symbols like %,@,$,%

Hence eggs is valid and 100 is invalid variable names

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

1. Integer

In [18]:
a = 10.78   #Here a is float. We are converting float into int.

In [13]:
int(a)

10

2. Floating point Number

In [14]:
a = 7       #Here a is int. We are converting int into float.

In [15]:
float(a)

7.0

3. String

In [16]:
a = 7        #Here a is int. We are converting int into str.

In [17]:
str(a)

'7'

####  10. Why does this expression cause an error? How can you fix it?

In [22]:
"I have eaten " + 99 + " burritos"

TypeError: can only concatenate str (not "int") to str

In [21]:
#The above is type error where we need to concatenate str to str.
#Hence to overcame it we need convert int to str
"I have eaten " + str(99) + " burritos"

'I have eaten 99 burritos'